<h1>Creating an issue</h1>
<p>By clicking on the following link, you agree that the name you use to send your E-Mail and its content will be displayed in the issue created by mailing.</p>
<p>You will receive a timely response containing a link to the created issue.</p>
<p>Additionally, you will be informed if any comments are posted on the issue and may add your own by replying to them</p>
<p>If you wish to unsubscribe, that option will be present in the original reply you receive, but will not be repeated</p>
<p>Please note that only plain text messages without attachments are currently supported due to API limitations</p>
<h2><a href="%s">Create Issue</a></h2>