<html lang="en">
<head>
    <title>Gitea Helpdesk</title>
    <link rel="stylesheet" href="theme.css" type="text/css">
</head>
<body>
<div style="text-align: center;margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
<%template-content%>
</div>
</body>
</html>