<h1>Successfully added comment</h1>
<p>You can find your new comment <a href="%s">here</a></p>
<p>If you wish to unsubscribe from new comments, you may do so <a href="%s">here</a></p>
<p>Please be aware that you will not be sent these a second time!</p>