<h1>Successfully added issue</h1>
<p>You can find your new issue <a href="%s">here</a></p>
<p>If you wish to unsubscribe from new comments, you may do so <a href="%s">here</a></p>
<p>Please be aware that you will not be sent these a second time!</p>
<p>If this was a mistake or you resolved the issue yourself, you can close it <a href="%s">here</a></p>